<div class="page-header section-dark" style="background-image: url('https://res.cloudinary.com/dzcwmdees/image/upload/v1740691455/antoine-barres_dbzwkf.jpg')">
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <div class="title-brand">
              <div class="fog-low">
                  <img src="https://res.cloudinary.com/dzcwmdees/image/upload/v1740691456/fog-low_xk1zjt.png" alt="">
              </div>
              <br>
              <h1 class="presentation-title">Bienvenido a Inhala</h1>
              <br>
              <div class="fog-low right">
                  <img src="https://res.cloudinary.com/dzcwmdees/image/upload/v1740691456/fog-low_xk1zjt.png" alt="">
              </div>
          </div>
          <h2 class="presentation-subtitle text-center slogan">Profesionales en terapieas alternativas</h2>
      </div>
  </div>
  <div class="moving-clouds" style="background-image: url('assets/clouds.png'); "></div>
</div>
