section {
  display: table;
}
.cards{
  border: 3px solid;
  border-color:#5F704E;
  background-color:  #EFF1F3;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.textos {
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold;  
  color: #fff; 
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.page-header {
    position: relative;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    z-index: 1;

    .filter {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .content-center {
        position: relative;
        z-index: 2;
    }
}

.section-dark {
    background-color: #0b1011;
    color: #FFFFFF;

    .title,
    .info-title {
        color: #FFFFFF !important;
    }

    .category,
    .description,
    .card-plain .card-description,
    .card-plain .card-category {
        color: rgba(255, 255, 255, 0.7);
    }

    hr {
        border-color: rgba(255, 255, 255, 0.19);
    }
}

.moving-clouds {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 250.625em;
    height: 43.75em;
    -webkit-animation: cloudLoop 80s linear infinite;
    animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}


.presentation-title {
  color: #535353;
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: -moz-linear-gradient(top, #d9d4d4 35%, #2a2b2c 100%);
  background: -webkit-linear-gradient(top, #dbd6d6 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #cbc4c4 35%, #4e6773 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; 
  line-height: 1.2; 
  text-align: center;
  width: 100%; 
}

.presentation-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: -moz-linear-gradient(top, #d9d4d4 35%, #2a2b2c 100%);
  background: -webkit-linear-gradient(top, #dbd6d6 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #cbc4c4 35%, #4e6773 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; 
  width: 100%; 
  line-height: 1.2; 
}

.slogan {
  opacity: 0;
  font-size: 1.5rem;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
