<div class="Startcontent"></div>
<h1 class="text-xl font-bold text-center m-4 drop-shadow-[0_5px_5px_rgba(0,0,0,0.3)] hover:drop-shadow-[0_10px_10px_rgba(0,0,0,0.4)] transition-all"
  style="color: #99b384; font-family: 'Poppins', sans-serif;">
    Estos son los servicios que ofrecemos en inhala
  </h1>
<div class="container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <div 
      *ngFor="let servicio of datos" 
      class="rounded-lg shadow-md overflow-hidden max-w-sm w-full mt-1  transition-all duration-300 hover:scale-105 hover:shadow-lg" 
      style="background-color: #C4CCC1;"
    >
      <div class="relative">
          <img [src]="servicio.image" alt="Service image" class="w-full h-64 object-cover">
      </div>
      <div class="p-4">
          <div class="flex justify-between items-start mb-1">
              <div>
                  <h2 class="text-xl font-semibold text-gray-800 mb-1">{{ servicio.serviceName }}</h2>
              </div>
          </div>
          <div class="py-1">
                <p class="text-lg font-bold text-green-500">{{ servicio.cost| currency }}</p>
          </div>
          <div class="flex items-center mb-1">
              <span class="text-gray-600 text-sm ml-2"></span>
          </div>
          <p class="text-black-600 mb-3">{{ servicio.serviceDescription }}</p>
          <div class="flex items-center justify-between mb-4">
              <div class="flex items-center">
                <i class="fa-solid fa-address-card text-blue-500 mr-2"></i>
                <span class="text-sm text-black-600">{{ servicio.nameFieldStudy }}</span>
              </div>
              <div class="flex items-center">
                  <i class="fas fa-clock text-blue-500 mr-2"></i>
                  <span class="text-sm text-black-600">{{ servicio.duration }}</span>
              </div>
          </div>
          <div class="flex space-x-2">
              <button class="flex-1 text-black shadow-lg py-2 px-4 rounded-full font-semibold hover:bg-blue-600 transition-colors duration-200"
              style="background-color: #8fb374;" (click)="guardarIdService(servicio)">
                  Agendar
              </button>
              <!-- <button class="bg-gray-200 text-gray-800 py-2 px-4 rounded-full font-semibold hover:bg-gray-300 transition-colors duration-200">
                  Ver profesionales
              </button> -->
          </div>
      </div>
    </div>  
</div>