<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear" [hidden]="isVisible">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper class="Startcontent" [linear]="isLinear" #stepper @Entrada>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="stepper-content">
        <ng-template matStepLabel>Información Básica</ng-template>
        <div class="form-row">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ingrese su nombre" formControlName="Nombre" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Primer Apellido</mat-label>
                <input matInput placeholder="Ingrese su primer apellido" formControlName="PrimerApellido" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Segundo apellido</mat-label>
              <input matInput placeholder="Ingrese su segundo apellido" formControlName="SegundoApellido" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>documento</mat-label>
              <input matInput placeholder="Ingrese su documento de identidad" type="number" formControlName="documento" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Sexo</mat-label>
              <mat-select  formControlName="Sexo" required>
                <mat-option value="Male">Hombre</mat-option>
                <mat-option value="Female">Mujer</mat-option>
                <mat-option value="NN">Prefiero no decirlo</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Seleccione una fecha" formControlName="FechaNacimiento" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="Ingrese un correo electrónico" type="email" formControlName="Correo" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>teléfono</mat-label>
                <input matInput placeholder="Ingrese su teléfono" type="number" formControlName="telefono" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Dirección</mat-label>
                <input matInput placeholder="Ejemplo Cra 50 No 40-40" formControlName="Dirección" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Ocupación</mat-label>
                <input matInput placeholder="a que se dedica" formControlName="Ocupación" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>RH</mat-label>
                <input matInput placeholder="ejem: O+" formControlName="RH" required>
            </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Información medica">
      <form [formGroup]="secondFormGroup" class="stepper-content">
        <mat-card class="m-2 h3 col-8">
          <mat-card-content class="shadow p-3 titulo-card text-center">Por favor ingrese la siguiente información para que nuestras especialistas tengan un poco mas de detalles
            sobre tu condición medica
          </mat-card-content>
        </mat-card>
        <br>
        <div class="form-row">
          <div class="row col-12">
            <div class="col-6 text-right d-flex justify-content-end">
              <mat-form-field class="col-10">
                <mat-label>Antecedentes quirúrgicos</mat-label>
                <textarea matInput placeholder="Escriba aquí toda la información posible sobre cirugías recientes o antiguas" formControlName="quirúrgicos" required></textarea>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="col-10">
                <mat-label>Antecedentes Alérgicos</mat-label>
                <textarea matInput placeholder="Escriba aquí a qué sustancias, alimentos o medicamentos es alérgico" formControlName="Alérgicos" required></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row col-12">
            <div class="col-6 text-right d-flex justify-content-end">
              <mat-form-field class="col-10">
                <mat-label class="text-center">Antecedentes de enfermedades familiares</mat-label>
                <textarea matInput placeholder="Escriba aquí cualquier enfermedad que se encuentre en su familia" formControlName="familiares" required></textarea>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="col-10">
                <mat-label>Antecedentes farmacológicos</mat-label>
                <textarea matInput placeholder="Escriba aquí si consume con regularidad algun tipo de farmaco" formControlName="farmacológicos" required></textarea>
              </mat-form-field>
            </div>
              <div class="col-6 text-right d-flex justify-content-end">
                <div class="formGroup">
                  <p>¿Es usted un fumador frecuente?</p>
                  <mat-form-field>
                    <mat-label>Seleccione una opción</mat-label>
                    <mat-select formControlName="fumador" required>
                      <mat-option value=true>Si</mat-option>
                      <mat-option value=false>No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 text-left d-flex justify-content-start">
                <div class="formGroup">
                  <p>¿Consume usted alcohol de manera frecuente?</p>
                  <mat-form-field>
                    <mat-label>Seleccione una opción</mat-label>
                    <mat-select formControlName="alcohol" required>
                      <mat-option value=true>Si</mat-option>
                      <mat-option value=false>No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
              <div class="col-12 text-center justify-content-center">
                  <div class="formGroup">
                      <p>¿Hace usted ejercicio de manera frecuente?</p>
                      <mat-form-field>
                          <mat-label>Seleccione una opción</mat-label>
                          <mat-select formControlName="ejercicio" required>
                              <mat-option value=true>Si</mat-option>
                              <mat-option value=false>No</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
               </div>  
          </div> 
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step class="mb-0">
      <ng-template matStepLabel>Cuenta</ng-template>
      <div class="form-row">
        <form [formGroup]="thirdFormGroup">
          <div class="col-12">
            <div class="row text-center justify-content-center">
              <div class="col-10">
                <mat-card class="example-card shadow p-3 m-3 col-10">
                  <mat-card-header class="p-1 m-1">
                    <mat-card-title-group class="row text-center justify-content-center">
                      <mat-card-title class="col-12 text-center justify-content-center"> Datos de inicio de sesión</mat-card-title>
                    </mat-card-title-group>
                  </mat-card-header>
                  <mat-card-content class="p-0">
                    <mat-form-field class="row col-7">
                      <mat-label>Ingrese su usuario</mat-label>
                      <input matInput formControlName="usuario" placeholder="Ingrese su usuario"  required>
                    </mat-form-field>
                    <mat-form-field class="row col-7">
                      <mat-label>Ingrese su contraseña</mat-label>
                      <input matInput formControlName="contraseña" type="password" placeholder="Ingrese su contraseña"required>
                      <div *ngIf="thirdFormGroup.get('contraseña')?.invalid && (thirdFormGroup.get('contraseña')?.touched || thirdFormGroup.get('contraseña')?.dirty)">
                        <small *ngIf="thirdFormGroup.get('contraseña')?.errors?.['required']">La contraseña es requerida.</small>
                      </div>
                    </mat-form-field>
                    <mat-form-field class="row col-7">
                      <mat-label>Repita la contraseña</mat-label>
                      <input matInput formControlName="Confirmcontraseña" type="password" placeholder="Repita la contraseña" required>
                    </mat-form-field>
                    <div *ngIf="thirdFormGroup.get('Confirmcontraseña')?.invalid && (thirdFormGroup.get('Confirmcontraseña')?.touched || thirdFormGroup.get('Confirmcontraseña')?.dirty)">
                      <small *ngIf="thirdFormGroup.get('Confirmcontraseña')?.errors?.['required']">La confirmación de la contraseña es requerida.</small>
                      <small *ngIf="thirdFormGroup.get('Confirmcontraseña')?.errors?.['confirmPasswordValidator']">Las contraseñas no coinciden.</small>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="form-row">
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button id="submit-button" (click)="guardarDatos()" [disabled]="thirdFormGroup.invalid">Finalizar</button>
      </div>
    </mat-step>
  </mat-stepper>