<!-- <div class="row justify-content-center Startcontent" >
    <div class="col-12 d-flex flex-wrap justify-content-center">
      <div class="card m-3" style="width: 18rem;padding-top: 0px;" *ngFor="let persona of datos">
        <img src="{{persona.Foto}}" class="card-img-top mt-1" alt="Imagen del prestador del servicio" style="border-radius: 6px solid;">
        <div class="card-body">
            <p class="card-title">
                <span style="color:#5F704E;">Nombre:</span> {{persona.Nombre}} {{persona.PrimerApellido}}
              </p>
              <p>
                <span style="color:#5F704E;">Titulo Profesional:</span> {{persona.UltimoTituloProfesional}}
              </p>
              <p>
                <span style="color:#5F704E;">Campo de Especialización:</span> {{persona.CampoDeProfundizacion}}
              </p>              
          <button class="justify-content-center" mat-button (click)="seleccionarPersona(persona)">Seleccionar</button>
        </div>
      </div>
    </div>
  </div> -->
