<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Vista de adminsitrador</title>
</head>
<body>
    <header>
        <app-header></app-header>
    </header>
    <main class="container Startcontent">
      <ng-container *ngIf="isAdmin; else soloCitas">
        <mat-button-toggle-group 
          name="fontStyle" 
          aria-label="Font Style" 
          class="mb-2"
          (change)="onToggleChange($event.value)">
          <mat-button-toggle value="citas">Citas</mat-button-toggle>
          <mat-button-toggle value="Empleados">Empleados</mat-button-toggle>
          <mat-button-toggle value="Agendas">Agendas</mat-button-toggle>
          <mat-button-toggle value="CampoDeEstudio">Campos de estudio</mat-button-toggle>
          <mat-button-toggle value="Servicios">Servicios</mat-button-toggle>
          <mat-button-toggle value="PaquetesDeServicios">Paquetes de servicios</mat-button-toggle>
        </mat-button-toggle-group>
        <app-users-tables *ngIf="selectedComponent === 'Empleados'"></app-users-tables>
        <app-citas-tables *ngIf="selectedComponent === 'citas'"></app-citas-tables>
      </ng-container>
      <ng-template #soloCitas>
        <app-citas-tables></app-citas-tables>
      </ng-template>
    </main>
    <footer>
        <app-foother></app-foother>
    </footer>
</body>
</html>