.transparent-header {
    border-bottom-width: 0;
    padding-bottom: 0;
    Background-color: transparent; 
}

.solid-header {
    background: #C4CCC1;
    color: black;
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.transparent-header_bottom {
    border-bottom-width: 0;
    padding-bottom: 0;
    Background-color: transparent; 
}

.solid-header_bottom {
    background:#cececade;
    color: black;
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(222, 199, 199, 0.1);
}
  
.navbar.fixed-top + .navbar.fixed-top {
    top: 56px; /* Ajusta esto según la altura del primer navbar */
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    margin-left: 7vw;
}

.dropdown-menu {
  z-index: 1000; /* Ensure it's above other elements */
  max-height: 300px; /* Adjust as needed */
  overflow-y: auto; /* Add scroll if content overflows */
}