/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'CustomFont';
}

html, body { height: 100%;}
body { margin: 0; }

@font-face {
    font-family: 'CustomFont';
    src: url('./assets/fonts/ArbutusSlab-Regular.ttf');
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.Startcontent {
  padding-top: 150px; /* Ajusta esto según la altura combinada de los navbars */
}

.custom-snackbar {
  background-color: #ff5252; /* Color de fondo rojo */
  color: white; /* Color del texto */
  font-size: 16px; /* Tamaño del texto */
}

/* Estilos globales para eliminar las flechas de los campos numéricos en navegadores basados en WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Estilos globales para eliminar las flechas de los campos numéricos en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

