<div class="row Startcontent" style="min-height: 100vh;">
   <div class="col-6 ms-5 col-sm-12 col-md-6 text-center justify-content-center" @Entrada>
      <br>
      <h1 class="slogan">"Nadie sabe que necesita un masaje hasta que recibe el primero"</h1>
      <br>
      <img src="https://res.cloudinary.com/dzcwmdees/image/upload/v1740691456/tranquilidad_fnfpvc.jpg" class="img-fluid m-4 rounded mx-auto d-block cardImnague" alt="imagen de tranquilidad">
   </div>
   <div class="col-1">
   </div>
   <div class="col-4 col-sm-12 col-md-4" @Entrada2>
      <div class="text-right d-flex justify-content-end me-5 mb-4 mt-4">
         <div class="overlay">
             <form [formGroup]="LoginFrom" (ngSubmit)="submitLoginForm()">
                <div class="con">
                <header class="head-form">
                   <h2>Inicio de sesión</h2>
                   <p>Por favor ingrese su correo electrónico y contraseña</p>
                </header>
                <div class="field-set text-center justify-content-center">
                  <div class="formGroup">
                     <mat-form-field>
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput type="text" required formControlName="email" [(ngModel)]="userData.username">
                        <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                           <mat-icon class="fa-solid fa-envelope" ></mat-icon>
                        </button>
                     </mat-form-field>
                  </div>
                  <br>
                  <mat-form-field>
                     <mat-label>Ingrese su contraseña</mat-label>
                     <input matInput [type]="hide ? 'password' : 'text'"  formControlName="contraseña" [(ngModel)]="userData.password" required>
                     <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                     </button>
                  </mat-form-field>
                   <br>
                   <button class="log-in shadow"> Iniciar sesión </button>
                <div class="other">
                   <button class="btn submits frgt-pass">Olvide mi contraseña</button>
                   <button href="registro" class="btn submits sign-up">Registrase
                   <i class="fa fa-user-plus" aria-hidden="true"></i>
                   </button>
                </div>
               </div>
            </div>
             </form>
             </div>
         </div>
   </div>
</div>
